.effective {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.stockcake.com/public/8/4/e/84eb3758-795d-4a1c-8919-b8fce3a1b9e7_large/tech-team-working-stockcake.jpg'); 
    background-size: cover;
    background-position: center;
}